.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
}

.range:focus {
    outline: none;
}

.range::-webkit-slider-runnable-track,
.range::-moz-range-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2px;

    background-color: attr(data-color color);
        
    -moz-transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.range::-webkit-slider-thumb,
.range::-moz-range-thumb {
    -moz-appearance: none;
    -webkit-appearance: none;

    border: 2px solid;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -webkit-grab;

    border-color: attr(data-color color);

    -moz-transition: border 1s ease;
    -webkit-transition: border 1s ease;
    transition: border 1s ease;
}

.range::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
}

.range::-moz-range-thumb:active {
    cursor: -moz-grabbing;
}